@font-face {
  font-family: batman;
  src: url(batmfa__.ttf);
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}
main {
  width: 100%;
  height: 100%;
  background: black;
}
main h1 {
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: batman;
  font-size: 250px;
}

main #cursor {
  width: 200px;
  height: 200px;
  mix-blend-mode: difference;
  background: white;
  border-radius: 100%;
  position: absolute;
}
