* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}
#bulb{
    height: 300px;
    width: 300px;
    border-radius: 50%;
    border:4px solid black;
    background-color: black;
}