* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}
body{
    background: royalblue;
    display: flex;
    justify-content: center;
    align-items: center;
}
#card{
    width: 300px;
    height: 400px;
    border-radius: 10px;
    background: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#card img{
    height: 50%;
    width: 100%;
    object-fit: contain;
    border-radius: 10px;
    object-position: center;
}

#card h1{
    margin: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#card h5{
    color: red;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0 0 20px 0;
    font-size: 15px;
}

#btncontainer button{
    padding: 15px;
    border-radius: 10px;
    border: none;
    margin: 0 10px 0 10px;
    width: 150;
    background-color: green;
    color: white;
    cursor: pointer;
}
#btncontainer button:active{
    scale: 1.10;
}

