* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}
main{
    width: 100%;
    height: 100%;
    background: black;
    color: white;
}
h1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: justify;
}


/* creates a sharp border spotlight*/
#cursor{
    width: 200px;
    height: 200px;
    background: radial-gradient(transparent 10%,rgba(255, 255, 255, 0.1) 40%,rgba(255, 255, 255, 0.6) 90%);
   
    /* to change the center (origin) of the radial gradient */
    /* background: radial-gradient(300px at 100px 100px, red, white) */


    /* to change the funtion for gradient mixing */
    /* background: radial-gradient(in oklab) */
    /* background: radial-gradient(in hsl) */

    border-radius: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    translate: transform(-50%,-50%);
    box-shadow: 0px 0px 1000px 10000px black;
}