* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}
main{
    width: 100%;
    height: 100%;
    background: black;
    color: white;
}
h1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: justify;
}

/* creating custom css variables */

:root{
    --x: 500px;
    --y: 500px;
}

::-webkit-scrollbar{
    display: none;
}


/* creates a sharp border spotlight*/
/* Method 1- Creating a large div with gradient and shifting the whole div with the cursor */
/* #cursor{
    width: 5000px;
    height: 5000px;
    background: radial-gradient(transparent 50px,red 200px);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
} */

/* Method 2- Creating a large div with gradient and shifting the gradient with the cursor*/
#cursor{
    width: 100%;
    height: 100%;
    background: radial-gradient(150px at var(--x) var(--y), transparent 50px,red 200px);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}