* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

main{
  background: black;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#card{
  width: 400px;
  height: 600px;
  border-radius: 20px;
  background: white;
  padding: 20px;
}

#pic{
  width: 100%;
  height: 80%;
  border-radius: 20px;
  background-image: url("https://images.unsplash.com/photo-1762936263573-af3e0d866980?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxmZWF0dXJlZC1waG90b3MtZmVlZHw4MXx8fGVufDB8fHx8fA%3D%3D");
  background-size: contain;
}

#pic i{
  position: absolute;
  top: 41%;
  left: 46.5%;
  font-size: 120px;
  color: red;
  opacity: 0;
}

#name{
  width: 100%;
  height: 15%;
  border-radius: 20px;
  border: 1px solid grey;
  /* box-shadow: ; */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

#name h1{
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 50px;
}