* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  background: black;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.box{
    height: 200px;
    width: 200px;
    transition: all 0.3s linear;
}

.red{
    background-color: red;
}

.green{
    background-color: seagreen;
}

.blue{
    background-color: blue;
}

.box:hover{
    transform: scale(1.2) !important;
}

body:has(.box:hover) .box{
    transform: scale(0.8);
}