* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  background-color: black;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    /* gap: 20px; */
    anchor-name: --abc;
}

.box{
    height: 200px;
    width: 200px;
}

.box:hover{
    anchor-name: --abc;
}

.red{
    background-color: red;
}

.green{
    background-color: seagreen;
}

.blue{
    background-color: blue;
}

.anchor{
    /* can be used to create tooltips that appear on hovering on any item */
    background-color: rebeccapurple;
    /* border-radius: 20px; */
    position: absolute;
    top: anchor(top);
    left: anchor(left);
    bottom: anchor(bottom);
    right: anchor(right);
    pointer-events: none;
    position-anchor: --abc;
    transition: all 0.3s linear;
    mix-blend-mode: exclusion;
}