* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

body{
    background: black;
}

.elem{
    width: 100%;
    height: 20%;
    border: 1px solid white;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.elem h1{
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 80px;
    z-index: 6;
    position: relative;
    mix-blend-mode: difference;
}

.elem img{
    width: 200px;
    height: 200px;
    object-fit: cover;
    object-position: center;
    border-radius: 100%;
    position: absolute;
    /* top: 50%;
    left: 50%; */
    pointer-events: none;
    transform: translate(-50%, -50%);
    opacity: 0;
}

